html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f5f5f5;
  line-height: 1.7;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.padding-lr {
  padding-left: 16px;
  padding-right: 16px;
}

.header-container {
  background-color: #1f2937;
}

header {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.padding-lr {
  padding-top: 16px;
  max-width: 1024px;

}

.nav-container {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-item:first-of-type {
  margin-right: auto;
  color: #E5E7EB;
  font-size: 1.8rem;
}

.nav-item a {
  color: #F9FAF8;
  text-decoration: none;
}

.hero {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
}

.hero-text {
  color: #F9FAF8;
  padding-right: 16px;
}

.hero-text button,
.cta-content button {
  color: #fff;
  font-size: 1.62rem;
  background-color: #3882F6;
  padding: 6px 16px;
  border-radius: 4px;
  border-width: 0;
}

.hero-text h1 {
  font-size: 4.8rem;
  font-weight: extra-bold;
}

.hero-text p {
  font-size: 1.8rem;
  color: #E5E7EB;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 48px;
}

.cards-wrapper h2 {
  text-align: center;
  font-size: 3.6rem;
  color: #1f2937;
  padding-bottom: 16px;
}

.cards-content,
.quote-content {
  max-width: 960px;
  padding-left: 48px;
  padding-right: 48px;
}

.cards-content.padding-lr {
  padding-top: 0;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  margin-bottom: 20px;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.img-wrapper img {
  border-radius: 10px;
}

.item {
  flex: 1;
}

.card p {
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  padding: 48px 0;
}

.quote-content {
  margin-left: auto;
  margin-right: auto;
}

.bquote p {
  font-style: italic;
  font-weight: lighter;
}

.quote-content>p {
  padding-right: 24px;
  text-align: right;
  font-weight: bold;
}

.cta {

  padding-top: 48px;
  padding-bottom: 48px;
}

.cta-btn-container {
  display: flex;

}

#cta-btn {}

.cta-content {
  display: flex;
  justify-content: space-between;
  background-color: #3882F6;
  padding: 24px 48px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: #fff;
}

#cta-btn {
  border-width: 1px;
  border: solid #fff;
  vertical-align: bottom;
  align-self: flex-end;

}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  margin-top: auto;
}

.footer-content {
  color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}